// sidebar
$menuText:#f1d4d3;
$menuActiveText:#ffcc29;
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #be211a;      
$menuHover: #9c1b16;   // Slightly darker red for hover state

$subMenuBg: #721510;   
$subMenuHover: #4a0e0a; // Very dark red for submenu hover

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
