// sidebar
$menuText: #e5e5e5;        // Light gray for text
$menuActiveText: #ffcc29;   // Keeping the yellow for active text for contrast
$subMenuActiveText: #ffffff; // White for active submenu text

$menuBg: #333333;          // Dark gray as the main color
$menuHover: #2a2a2a;       // Slightly darker gray for hover state

$subMenuBg: #1a1a1a;       // Very dark gray for submenu
$subMenuHover: #0d0d0d;    // Nearly black for submenu hover

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
